<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtmLXxaiJGV5HlHazsmzteHSrBFI9WToU</string>
	<key>GCM_SENDER_ID</key>
	<string>580577715762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.cultivalabs</string>
	<key>PROJECT_ID</key>
	<string>cultivalabs-3bade</string>
	<key>STORAGE_BUCKET</key>
	<string>cultivalabs-3bade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580577715762:ios:b3f7909c93b8bb7a3e3e2b</string>
	<key>DATABASE_URL</key>
	<string>https://cultivalabs-3bade-default-rtdb.firebaseio.com</string>
</dict>
</plist>